<h1 class="page-header text-center text-uppercase">Scan QR</h1>
<div class="jumbotron text-center">
  <%= image_tag 'qr.jpg', style: 'display:block;margin: 0 auto;' %>
  <%= link_to 'Check Gallery', gallery_path %>
</div>