<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[text]]></MsgType>
    <Content>
      <![CDATA[wechat-test：<%= params[:xml][:Content] %>
        <% if params[:xml][:PicUrl].present? %>
          PicUrl: <%= params[:xml][:PicUrl] %>
          MediaId: <%= params[:xml][:MediaId] %>
        <% end %>
      ]]>
      </Content>
    <FuncFlag>0</FuncFlag>
</xml>